*.lib
*.err
*.obj
*.sbr
*.ilk
*.pch
*.idb
*.ncb
*.plg
*.pdb
*.bsc
*.enc
*.exe
*.bat
*.build
*.cmd
*.html
*.txt
*.ini
*.suo
*.opt
*.rsp
*.dep
*.json
*.map
*.pdf
*.vcproj
makefile

*.flac
*.wav
*.mp3
