*.bat
*.bsc
*.build
*.cmd
*.dep
*.enc
*.err
*.exe
*.flac
*.html
*.idb
*.ilk
*.ini
*.json
*.lib
*.map
*.mp3
*.ncb
*.obj
*.opt
*.pch
*.pdb
*.pdf
*.plg
*.rsp
*.sbr
*.suo
*.txt
*.vcproj
*.wav
makefile
